$offset-margin : 2rem;
$outline-thick : 0.25rem;

$color-inner : rgba($color: #ffffff, $alpha: 0.8);
$color-border : rgba($color: #ffffff, $alpha: 0.8);

.outsideBlock {
  position: relative;
  overflow: hidden;
  margin-bottom: 2rem;

  width: 100%;
  max-width: 400px;

  margin: auto;

  img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;

    transition: all 0.3s;
  }

  .insideBlock {
    transition: all 0.3s;
    
    box-shadow: 0px 0px 0 0rem $color-border inset;

    position: absolute;
    z-index: 1;

    outline-offset: -1rem; //new on 2.2.21
    outline-offset: -$offset-margin;
    
    outline: $outline-thick solid $color-inner;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // padding: 1.5rem 2rem;
   
  }

  h3,p {
    color: black;
    padding: 0.25rem 0; //new on 2.2.21
    margin: $offset-margin; //new on 2.2.21
    background-color: $color-inner;
  }
}

.outsideBlock:hover {
  img {
    transform: scale(1.2);
  }
  .insideBlock {
    outline-offset: 0rem;
    box-shadow: 0px 0px 0 calc( #{$offset-margin} - #{$outline-thick}) $color-border inset; //new on 2.2.21
  }
}
